export BACKEND_SECRET_KEY='django-insecure-xxx'
export BACKEND_ALLOWED_HOSTS='*'
export BACKEND_DEBUG=True
export BACKEND_DATABASE='xxx'
export BACKEND_DATABASE_USER='root'
export BACKEND_DATABASE_PASSWORD=''
export BACKEND_DATABASE_HOST='localhost'
export BACKEND_DATABASE_PORT='3306'
export BACKEND_DATABASE_CA=''
export BACKEND_DATABASE_KEY=''
export BACKEND_DATABASE_CERT=''
export BACKEND_JWT_SECRET_KEY='xxx'
export BACKEND_ETH1_ENDPOINT='http://xxx:8545'
export BACKEND_EMAIL_HOST='smtp.gmail.com'
export BACKEND_EMAIL_PORT='587'
export BACKEND_EMAIL_HOST_USER='xx@ebunker.io'
export BACKEND_EMAIL_HOST_PASSWORD='xx'
export BACKEND_EMAIL_FROM='xx@ebunker.io'
export BACKEND_ETHERSCAN_API_URL='http://api-goerli.etherscan.io'
export BACKEND_ETHERSCAN_API_KEY='xxx'
export BACKEND_CACHES_LOCATION=xxx:11211
export BACKEND_ETH_DEPOSIT_NETWORK=mainnet
export BACKEND_ETH_CHAIN_ID=1
export BACKEND_ETH1_DEPOSIT_CONTRACT=0x8A04d14125D0FDCDc742F4A05C051De07232EDa4
export BACKEND_ETH2_ENDPOINT='http://xxx:3500'
export BACKEND_ETH2_BEACONCHA=https://holesky.beaconcha.in
export BACKEND_CSRF_TRUSTED_ORIGINS=http://localhost:8000
export BACKEND_CORS_ORIGIN_WHITELIST=http://localhost:8000
export BACKEND_AWS_ACCESS_KEY=ebunker
export BACKEND_AWS_SECRET_ACCESS_KEY=xxx
export BACKEND_AWS_HOST=localhost:8000
export BACKEND_AWS_WALLET_ACCESS_KEY=wallet
export BACKEND_AWS_WALLET_SECRET_ACCESS_KEY=xxx
export BACKEND_AWS_WALLET_HOST=127.0.0.1:8001
export BACKEND_WALLET_ENDPOINT=http://127.0.0.1:8001
export BACKEND_WALLET_CHAIN=ebunker
export BACKEND_DING_SECRET_ACCESS_KEY=xxx
export BACKEND_DING_ENABLE=False
export BACKEND_LOGGING_GCP_CLASS=mysite.logging.EmptyHandler
export BACKEND_LOGGING_GCP_LOGGING_NAME=ebunker-backend-local
export BACKEND_LOGGING_HANDLERS=console
export BACKEND_DING_SECRET_ACCESS_KEY_DAILY=xx
export BACKEND_DING_SECRET_ACCESS_KEY_HOURLY=xx
export BACKEND_DING_SECRET_ACCESS_KEY_NOTICE=xx
export BACKEND_DING_SECRET_ACCESS_KEY_ALARM=xx
export BACKEND_SSV_ENDPOINT=https://api.ssv.network
export BACKEND_SSV_NETWORK=prater
export BACKEND_AWS_DEPLOYER_SECRET_ACCESS_KEY=xx
export BACKEND_AWS_DEPLOYER_HOST=127.0.0.1:8020
export BACKEND_DEPLOYER_ENDPOINT=http://127.0.0.1:8020
export BACKEND_LARK_ENABLE=True
export BACKEND_LARK_SECRET_ACCESS_KEY_DAILY=xx
export BACKEND_LARK_SECRET_ACCESS_KEY_HOURLY=xx
export BACKEND_LARK_SECRET_ACCESS_KEY_NOTICE=xx
export BACKEND_LARK_SECRET_ACCESS_KEY_ALARM=xx
export BACKEND_LARK_SECRET_ACCESS_FINANCIAL_REPORT=xx
export BACKEND_EIGENLAYER_STATISTIC=http://xx:8000
export BACKEND_NETWORK=hoodi
export STVAULT_CLI_API_URL='http://xx:8100/api/stvault'
export BACKEND_INTERNAL_SERVICE_TOKEN='xxx'