{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>eBunker</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="icon" href="{% static 'validators/favicon.ico' %}">
  </head>
<body>
  <!-- Static navbar -->

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'validators:home' %}">首页</a>
        <a target="_blank" class="navbar-brand" style="padding-left:30px" href="https://docs.ebunker.io/">文档</a>
        <a class="navbar-brand" style="padding-left:30px" href="{% url 'validators:pool' %}">矿池</a>
        <a class="navbar-brand" style="padding-left:30px" href="{% url 'validators:index' %}">浏览器</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" action="{% url 'validators:index' %}" method="get">
          <div class="form-group">
            <input type="text" name="reward_address" placeholder="收益地址" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">查询</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="page-header">
      {% block header %}{% endblock header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
    <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p>© 2022 Company, Inc.</p>
      </div>
    </footer>
  </div><!-- /container -->
</body>
</html>